/* import font */

@font-face {
    font-family: 'Magnet';
    src: url('Fonts/Magent/Magnet.otf') format('otf');
}

@font-face {
    font-family: 'Graphik';
    src: url('Fonts/Graphik/GraphikRegular.otf') format('otf');
}


/* homeheader */
body {
    width: 100%;
    margin: 0;
    padding: 0;

}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10000;
}

nav li a {
    color: white;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.BgColour {
    transition: all 1s;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

select{
    background-color: #F8F8F8 !important;
}

.navbar-button li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
}

/* label and input*/
label {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #2E2E2E;
    margin-bottom: 10px;
}

input[placeholder],
textarea[placeholder],
.form-select option {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.input-group i {
    color: #727272;
    font-size: 15px;
}

.input-group input {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    padding: 6.5px;
    border: 1px solid #727272;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: #F05940;
    border: 1px solid #F05940;
}

input[type="radio"]:checked {
    background-color: #F05940;
    border: 1px solid #F05940;
}


.language-select {
    padding: 4px 12px;
    font-size: 16px;
    border: 1px solid #424242;
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: #fff;
}

.language-select span {
    border-radius: 50%;
}

.dropdown-menu {
    background-color: #424242;
}

.dropdown-item a {
    font-size: 15px;
}


#home-header {
    color: white;
}


#home-header .title-header {
    padding-top: 15%;

}


#home-header .title-header h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
}

#home-header .title-header p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
}

.circle-word {
    position: relative;
    display: inline-block;
}

.circle-word::before {
    content: '';
    position: absolute;
    width: 2.6em;
    height: 1.2em;
    border: 5px solid #F05940;
    top: 0.2em;
    left: -0.4em;
    border-radius: 50%;
    background-color: transparent;
    border-top: none;
    transform: rotate(10deg);
}


#home-header .title-header span {
    color: #F05940;
}

.getstart {
    color: white !important;
    text-align: center;
    background: #F05940;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#home-header .title-header .getstart {
    padding: 12px 18px;
}

#home-header a {
    text-decoration: none;
    color: white;
}

/* how it work section */
.avantages {
    text-align: center;
}

.avantages .row {
    padding: 10px 0px;
}

.avantages .row .col {
    margin: 0 auto;
    position: relative;
}

.avantages .col h4 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #2E2E2E;
    display: flex;
    align-items: center;
}

.avantages .col::before {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-30%);
    height: 70%;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.avantages .col:first-child::before {
    border: none;
}

.avantages .line {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* process */
.process {
    margin-top: 2%;
}

.process h6,
.digitalisation h6,
.ecom h6,
.websitehome h6,
.templtesweb h6,
.features h6,
.ourpartners h6,
.testimonial h6,
.pricing h6,
.faq h6,
#plans h6 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #F77A56;
}


.process h2,
.digitalisation h2,
.ecom h2,
.websitehome h2,
.templtesweb h2,
.features h2,
.ourpartners h2,
.testimonial h2,
.pricing h2,
.faq h2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #2E2E2E;
}

.digitalisation h2,
.ecom h2,
.websitehome h2 {
    font-size: 40px;
}

.process p,
.digitalisation P,
.ecom P,
.websitehome P,
.features p,
.ourpartners p,
.pricing p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #727272;
}

.tree {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree ul {
    padding-top: 50px;
    padding-left: 16px;
    margin: 0 auto;
    position: relative;

}

.tree li {
    float: left;
    list-style-type: none;
    position: relative;
    padding: 40px 20px 0px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}



/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px dashed #ccc;
    width: 50%;
    height: 50px;
}

.tree .firstchlidli::after,
.tree .secondchlidli::before {
    border-top: 1px dashed #F05940;
}


.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px dashed #ccc;
}

.tree li:first-child::before,
.tree li:first-child::after {
    border-left: 1px dashed #F05940;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px dashed #ccc;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px dashed #F05940;
    width: 0;
    height: 50px;
}

.tree li a {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: -4px 34px 14px rgba(184, 183, 183, 0.01), -2px 19px 12px rgba(184, 183, 183, 0.05), -1px 9px 9px rgba(184, 183, 183, 0.09), 0px 2px 5px rgba(184, 183, 183, 0.1);
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #2E2E2E;


}

.tree li .parent {
    border: none;
    box-shadow: none;
    border-radius: 0px;
}





/*digitalisation,ecom,websitehome  */
.digitalisation .row,
.ecom .row,
.websitehome .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.digitalisation,
.ecom,
.websitehome {
    width: 80%;
}


.digitalisation img,
.ecom img,
.websitehome img {
    width: 420px;
    height: 420px;
}

.websitehome {
    background: #FFF6EC;
    border-radius: 15px;
}

.ecom {
    background: #F1FCFF;
    border-radius: 15px;
}

.digitalisation {
    background: #E3F8EF;
    border-radius: 15px;
}

.digitalisation .getstart,
.ecom .getstart,
.websitehome .getstart {
    padding: 12px 18px;
}

a {
    text-decoration: none;
    color: white;
}

.digitalisation,
.ecom,
.websitehome {
    margin-top: 5%;
}

.templtesweb {
    text-align: center;
    margin-top: 5%;
}

.templtesweb .arrows {
    display: flex;
    justify-content: end;
    margin-top: -4%;
    padding-right: 15%;
}

.templtesweb .arrows i {
    width: 45px;
    height: 45px;
    color: #2E2E2E;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.templtesweb .arrows .left {
    background-color: #F1F1F1;
}

.templtesweb .arrows .right {
    color: white;
    background-color: #F05940;
}

/* display templates */
.displaytemplates .templateimg {
    height: 700px;
}

.displaytemplates .templateimg img {
    width: 100%;
    height: 100%;
}

/* features */
.features {
    z-index: 1;
    margin-top: 5%;

}

.features .features-text {
    background: #FFF6EC;
    height: 400px;
    padding-top: 4%;
}

.features .cartes {
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    z-index: 2;
    margin: 0 auto;
}

.features .cartes .card {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: -4px 34px 14px rgba(184, 183, 183, 0.01), -2px 19px 12px rgba(184, 183, 183, 0.05), -1px 9px 9px rgba(184, 183, 183, 0.09), 0px 2px 5px rgba(184, 183, 183, 0.1);
    border-radius: 5px;
    display: grid;
    padding: 15px 10px 20px 10px;
    align-items: center;
}

.features .cartes .card img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
    text-align: left;

}

.features .cartes .card .card-title {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #2E2E2E;
}

.features .cartes .card .card-text {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #727272;
}

/* partners */
.ourpartners {
    margin-top: 30em;

}

.ourpartners .partnersimage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.ourpartners .partnersimage .row {
    display: flex;
    grid-gap: 20px;
}

.ourpartners .partnersimage .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourpartners .col img {
    /* width: 150px;
    height: 40px; */
    display: block;
    margin-bottom: 20px;
}


/* testimonial */
.testimonial {
    margin-top: 5%;
    background: #F1FCFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #F05940;
    width: 30px;
    height: 10px;
    border-radius: 20px;
}

.testimonial .testimonialcards .card .card-title {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #2E2E2E;
}

.testimonial .testimonialcards .card .card-text {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4E4E4E;
}

.testimonial .testimonialcards hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.testimonial .testimonialcards h3 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F05940;
}

.testimonial .testimonialcards p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4E4E4E;
}

/* faq */
/* accordeons */
.faq {
    margin-top: 5%;
    width: 50%;

}



.faq-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    /* Trait horizontal séparant les éléments */
}

.faq-item {
    border: none;
    /* Supprime la bordure autour de chaque élément */
}

.question {
    cursor: pointer;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.question span {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #2E2E2E;
}

.answer {
    display: none;
    /* Masque la réponse par défaut */
    padding: 10px;
}

.answer p {
    margin: 0;
    /* Supprime les marges autour du paragraphe */
}





/* pricing */

.pricing {
    border-radius: 15px;
    margin-top: 7%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #F05940 0%, #F77A56 25%, orange 51%, #F05940 100%);
    animation: AnimateBG 12s ease-in-out infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}





.pricing .pricing-circle {
    background: #FFFFFF;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.pricing .pricing-circle h2 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #2E2E2E !important;
}

.pricing .pricing-circle h4 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #2E2E2E;
}

.pricing .pricing-circle h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 15px;
    text-align: center;
    color: #F05940;
}

.pricing .pricinglink {
    padding: 12px 30px;
    gap: 10px;
    background: #2E2E2E;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}

.pricing h6,
.pricing h2,
.pricing p {
    color: white !important;
}



/* letstart */
.startprocess .radiocheck {
    background: #F9F9F9;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2%;
}




.radiocheck {
    cursor: pointer;
}

.radiocheck.active {
    background-color: #F05940;
}


.radiocheck.active label i,
.radiocheck.active label {
    color: white;
}

.radiocheck input[type="radio"]:checked {
    background-color: #F05940;
    border-color: #DCDCDC;
}


.startprocess,
.signup .row,
.contactinf .contactback {
    width: 60%;

}

.contactinf .contactback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startprocess .row .col,
.signup .row .col,
.contactinf .contactback {
    padding: 40px 50px;
    margin: 0 auto;
}

.startprocess .letsimage img,
.signup .signupimg img {
    width: 300px;
    height: 300px;
}

.startprocess h2,
.signup h2,
.contactinf h2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2E2E2E;
}

.startprocess p,
.signup p,
.contactinf P {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #4E4E4E;
}

/* signup */
/* .signup .signuptext,
.signup .signupimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.divider-text {
    position: relative;
    text-align: center;
}

.divider-text span {
    padding: 10px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn {
    /* input style */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

.whatsapp-btn {
    color: black;
    background: #FDFDFD;
    border: 1px solid #B4B4B4;
    border-radius: 5px;

}

.btn-info {
    background-color: #F05940;
    color: white;
}

.required {
    color: red;
    margin-left: 5px;
}

/* choosetemplates */
.listtemplates,
.planschoose,
.sucesspay,
.contactback,
.processpay {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    /* shadow-box */
    box-shadow: -14px 167px 67px rgba(179, 179, 179, 0.01), -8px 94px 57px rgba(179, 179, 179, 0.05), -4px 42px 42px rgba(179, 179, 179, 0.09), -1px 10px 23px rgba(179, 179, 179, 0.1);
    border-radius: 15px;

}

/* .startprocess .row , .signup .row{ */
.listtemplates,
.planschoose,
.processpay,
.listtemplates {
    width: 75%;
    margin: 0 auto;
}

.listtemplates p {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #2E2E2E;
}

.listtemplates h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #2E2E2E;


}

.listtemplates h5 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #F05940;
}

.listtemplates .btns  {
    padding: 12px;
    background: #F05940;
    border: 1px solid #F05940;
    border-radius: 5px;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
}

.listtemplates .row .card img {
    height: 250px;
}

.listtemplates .row .card {
    border: 1px solid #727272;
    width: 85%;
}

.listtemplates .row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listtemplates .row {
    padding: 0px 80px;
}

.listtemplates .row .card h4 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2E2E2E;
}

.listtemplates .row .card .templateprice {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #F05940;


}

.listtemplates .row .card p {

    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2E2E2E;
}

.listtemplates .row .card .cardbtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 5px;
    border: 1px solid #727272;
    border-radius: 20px;
    background-color: white;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #727272;

}

.listtemplates .card.active {
    border: 1px solid red;
}


/* payement */
#plans li {
    list-style: none;
}

/* Rounded tabs */
#plans .navtabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plans #myTab,
#plans .nav-pills {
    background-color: #EBEBEB;
    width: 30%;
}

.subscription .nav-pills {
    width: 100%;
}

#plans #myTab a,
#plans .nav-pills a {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: black;
}

#plans #myTab .active,
#plans .nav-pills .active {
    background-color: #F05940;
    color: #FFFFFF;
}

#plans #myTab li {
    width: 35%;

}

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}


#plans .card {
    border: 1px solid #000000;
    border-radius: 5px 5px 0px 0px;
}

#plans .card-body span {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #727272;

}

#plans h2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 30px;
    color: #2E2E2E;
}

#plans h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #2E2E2E;
}

#plans .card-body .liens a,
#plans .liens a,
.processpay .liens a {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.processpay .liens a {
    width: 50%;
    margin-left: 10px;
}

#plans .acceptpay .liens a {
    padding: 10px 130px;
}

#plans .card-body p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;
    color: #4E4E4E;
}

#plans .card-body p i {
    margin-right: 10px;
    font-size: 20px;
}

#plans .card-header {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #2E2E2E;
    text-align: center;
    border: 1px solid #000000;
    padding: 9px 0;

}

#plans .card.active {
    border: 1px solid #F05940;
    background-color: #D6F2F6;
}

/* successfulpay */
.sucesspay i {
    font-size: 30px;
    color: #1EC149;
}

.sucesspay p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #4E4E4E;
}

.sucesspay h4 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 55px;
    color: #2E2E2E;
}

.sucesspay a,
.letstext a {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: #F05940;
    border-radius: 5px;
}

.letstext a {
    width: 50%;
}

/* processpay */

.processpay .row {
    width: 70%;
}

.processpay .row .col-4 {
    width: 40% !important;
}

.processpay .row .col-8 {
    width: 55% !important;
    margin-left: 5%;
}

.processpay p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4E4E4E;

}

.processpay H4 {
    font-weight: 600;
    font-size: 18px;
}

.processpay .card-header {
    background-color: white;
    border: none;
}

.processpay H5 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    color: #727272;
}

.processpay h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2E2E2E;


}

.processpay H2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #2E2E2E;
}

.processpay h2 i {
    /* width: 50px; */
    padding: 3px 3px;
    font-size: 9px;
    background-color: #FAE7D2;
    border-radius: 50%;
}

.processpay .card-body {
    background-color: #F1FCFF;

}

.processpay .card-body h2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #F05940;
}

.processpay .radiocheck {
    border-radius: 5px;
    padding: 5px;
    margin-top: 0%;
}

.processpay .radiocheck input[type="radio"]:checked {
    background-color: #FEC446;
    border-color: #DCDCDC;
}

.processpay .radiocheck input[type="radio"] {
    width: 10px;
    height: 10px;
}

.processpay .radiochoice {
    width: 100%;
}

.processpay .radiochoice label {
    margin: 0 auto;
}

/* summary */
.summary h6 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 55px;
    color: #2E2E2E;
}

.summary h6 i {
    padding: 6px 6px;
    font-size: 9px;
    background-color: #FAE7D2;
    border-radius: 50%;
}

.summary textarea[placeholder] {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #2E2E2E;
}


/* forms about */
.formsabout .labeltitle {
    font-weight: 600;
}

/* footer */
footer {
    background: #212121;
}

footer .row h5 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

footer .row .column1 .men1 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #F0ECEC;
}

footer .row .column1 .men2 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F0ECEC;
}

footer .row .column1 .men3 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #F05940;


}




footer .row p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #F0ECEC;
}

.sidebar {
    background-color: #141414;
    color: #fff;
}

.sidebar .info p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #929292;
}

.sidebar .info h4 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin-top: -0.7em;
}

.nav-sidebar li i {
    font-size: 16px;
    line-height: 20px;
    color: #929292;
}

.nav-sidebar li p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #929292;
}

.sidebar .user-panel {
    border: none !important;
}