@font-face {
    font-family: 'Magnet';
    src: url('Fonts/Magent/Magnet.otf') format('otf');
}

@font-face {
    font-family: 'Graphik';
    src: url('Fonts/Graphik/GraphikRegular.otf') format('otf');
}

.sidebar {
    background-color: #141414;
    color: #fff;
}

.sidebar .info p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #929292;
}

.sidebar .info h4 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin-top: -0.7em;
}

.nav-sidebar li i {
    font-size: 16px;
    line-height: 20px;
    color: #929292;
}

.nav-sidebar li p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #929292;
}

.sidebar .user-panel {
    border: none !important;
}

.nav-sidebar .nav-link.active {
    background-color: #F05940;
    border-radius: 5px;
}

.nav-sidebar .nav-link.active p,
.nav-sidebar .nav-link.active i {
    color: white !important;
}

.nav-sidebar .nav-link.active i {
    padding-left: 0em;
}

.sidebar hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}


/* dashboard */

.dashboard .info-box {
    border: none;
    background-color: white;
    border-radius: 1px;
}
.dashboard .statnumber .col:first-child{
    padding-left: 0 !important;
}
.dashboard .statnumber .col:last-child{
    padding-right: 0 !important;
}

.dashboard .card h5 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1px;
    color: #2E2E2E;
}

.dashboard .card h5 span {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #2E2E2E;
}

.dashboard .card p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1px;
    color: #4E4E4E;


}
.dashboard .dotred{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: red;
}

.dashboard .tablestat .tableforstat {
    width: 74%;
}

.dashboard .tablestat .chartstat {
    width: 23%;
    margin-left: 2.5%;
}

.dashboard .tablestat .tableforstat,
.dashboard .tablestat .chartstat {
    background-color: white;
    border: 1px solid #E4E4E4;
    border-radius: 5px;

}

.dashboard .tablestat .tableforstat h4 {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #4E4E4E;
}

.tablestat .table-container {
    width: 100%;
    overflow-x: auto;

}

.tablestat .table {
    width: 100%;
    border-collapse: collapse;
}

.tablestat .table tr {
    border: 1px solid white;
    margin-top: 5rem;
}

.tablestat .table th,
.tablestat .table td {
    padding: 8px;
    text-align: left;
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #4E4E4E;
}

.tablestat .table tr td:last-child {
    color: #F05940;
}
.tablestat .table th ,.tablestat .table td,.tablestat .table tr{
    border: none;
}
.tablestat .table th {
    font-weight: 600;
}

.tablestat .pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left !important;
}

.pagination a {
    padding: 2px 8px;
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.tablestat .pagination a:hover {
    background-color: #ddd;
}

.tablestat .pagination a.disabled {
    pointer-events: none;
    color: #aaa;
}

.dashboard .chartstat .col {
    background: rgba(233, 236, 241, 0.82);
    border-radius: 10px;
    height: 10em;
    width: 10;
}

.bar {
    position: relative;
    background-color: grey; /* Couleur de base des colonnes */
}

.level {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F05940;
}


/* processpay */
.processtopay {
    height: max-content;
}

.processtopay .col1 {
    width: 33%;
}

.processtopay .col2 {
    width: 65%;
}

.processtopay .radiocheck {
    border-radius: 5px;
    padding: 6px;
}

.processtopay .radiocheck input[type="radio"]:checked {
    background-color: #FEC446;
    border-color: #DCDCDC;
}

.processtopay .radiocheck input[type="radio"] {
    width: 10px;
    height: 10px;
}

.processtopay .radiochoice label {
    margin: 0 auto;
}

.processtopay .row h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* dashurl */

.whitepage {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    /* shadow-box */
    box-shadow: -14px 167px 67px rgba(179, 179, 179, 0.01), -8px 94px 57px rgba(179, 179, 179, 0.05), -4px 42px 42px rgba(20, 6, 6, 0.09), -1px 10px 23px rgba(179, 179, 179, 0.1);
    border-radius: 5px;
    width: 100%;
}

h2 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #2E2E2E;
}

.myprofileuser h3 {
    font-family: 'Magnet' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #2E2E2E;
}

p {
    font-family: 'Graphik' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4E4E4E;

}

/* view template  */
.dashviewtemplate .listtemplates .row {
    padding: 0px 0px;
}

.dashviewtemplate .listtemplates .row .card {
    border: 1px solid #F05940;
}
